<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="
               Server=VLADIMIR\SQLEXPRESS;
               Database=MCS1;
               User Id=ova;
               Password=123;"/>

    <add name="Access" connectionString="
               Provider=Microsoft.Jet.OLEDB.4.0;
               Data Source=C:\Users\Vladimir\source\repos\ADO.NET.Lesson4\DataBase\accessDb_00.mdb; 
               User Id=;Password=;"/>

  </connectionStrings>

  <appSettings>
    <!--<add key ="factory" value="System.Data.SqlClient"/>-->
    <add key ="factory" value="System.Data.OleDb"/>

    <add key="newEquipment" value="select * from newEquipment"/>
  </appSettings>

</configuration>